In [8]:
# !pip install mysql-connector-python

### Connecting to the sql

In [4]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="12345",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    mydb.close()
except Exception as e:
    print(str(e))

True

In [5]:
import mysql.connector as connection

In [9]:
mydb = connection.connect(host="localhost", user="root", passwd="12345", use_pure=True)

In [10]:
mydb

In [12]:
cur = mydb.cursor()

In [14]:
cur.execute("SHOW DATABASES")

In [15]:
res = cur.fetchall()

In [16]:
res

[('information_schema',),
 ('lco_car_rentals',),
 ('lco_users',),
 ('mysql',),
 ('new_lco',),
 ('performance_schema',),
 ('photo_store',),
 ('sys',)]

In [22]:
for i in res:
    if type(i)==tuple:
        print(i[0])

information_schema
lco_car_rentals
lco_users
mysql
new_lco
performance_schema
photo_store
sys

In [1]:
# import mysql.connector as connection

# try:
#     mydb = connection.connect(host="localhost", user="root", passwd="12345",use_pure=True)
#     # check if the connection is established
#     print(mydb.is_connected())
#     mydb.close()
# except Exception as e:
#     print(str(e))

In [3]:
import mysql.connector as  connection
try:
    mydb = connection.connect(host = 'localhost', user = 'root', passwd = '12345', use_pure = True)
    #check if the connection is established
    print(mydb.is_connected())
    mydb.close()
except Exception as e:
    print(str(e))

True

In [4]:
mydb = connection.connect(host="localhost", user="root", passwd="12345", use_pure=True)
cur = mydb.cursor()

In [5]:
cur.execute("SHOW DATABASES")
res = cur.fetchall()

In [6]:
count = 0
for i in res:
    count = count+1
    print(count, i[0])

1 information_schema
2 lco_car_rentals
3 lco_users
4 mysql
5 new_lco
6 performance_schema
7 photo_store
8 student
9 sys

### Creating the Database

In [14]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "Create database Student;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

### Creating the Table

In [10]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

###  Insert into tables:-

In [18]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="12345",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Values inserted into the table!!

### Delete From Tables:

In [19]:
# import mysql.connector as connection

# try:

#     mydb = connection.connect(host="localhost", database='Student', user="root", passwd="mysql", use_pure=True)
#     # check if the connection is established
#     print(mydb.is_connected())
#     query = "DELETE FROM studentdetails WHERE Studentid = 1122"
#     cursor = mydb.cursor()  # create a cursor to execute queries
#     cursor.execute(query)
#     mydb.commit()

#     #let's check if the value is updated in the table.
#     query = "Select * from studentdetails where Studentid=1122;"
#     cursor = mydb.cursor()  # create a cursor to execute queries
#     cursor.execute(query)
#     for result in cursor.fetchall():
#         print(result)

#     mydb.close()  # close the connection

# except Exception as e:
#     #mydb.close()
#     print(str(e))

In [25]:
import mysql.connector as connection
try:
    mydb = connection.connect(host = 'localhost', database = 'student', user = 'root', passwd = '12345', use_pure =True)
    print(mydb.is_connected())
    query = "DELETE FROM studentdetails WHERE Studentid = 1132"
    cursor = mydb.cursor() # create the cursor to execute queries
    cursor.execute(query)
    mydb.commit()
    
    #Let's check if the values is updated in the table.
    query = "select * from studentdetails where studentid = 1122;"
    cursor = mydb.cursor() # create a cursor to execute queries
    cursor.execute(query)
    
    for result in cursor.fetchall():
        print(result)
    mydb.close()  #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

True

In [23]:
cursor = cursor.fetchall()

In [24]:
cursor

[]